.reliability .container {
    padding: 4rem 0;
}

.reliability .reliability_content {
    width: 60%;
    color: #777777;
}

.reliability_item img {
    width: 90px;
    height: 90px;
}

.reliability_item .reliability_item_title {
    font-size: 26px;
}

.reliability_item .reliability_item_content {
    font-size: 13px;
    color: #777777;
    text-align: justify;
}

.reliability .bg_reliability {
    min-height: 500px;
}

.reliability .bg_reliability:after {
    content:'';
    background-image: url("./../../../../../../assests/images/whysna/img2.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    transform: scaleX(-1);
}

@media only screen and (max-width: 768px) {
    .reliability .reliability_content {
        width: 80%;
    }
}
