/*@import url(https://fonts.googleapis.com/css?family=Archivo+Narrow);*/

/*.cube-folding {*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    display: inline-block;*/
/*    -moz-transform: rotate(45deg);*/
/*    -ms-transform: rotate(45deg);*/
/*    -webkit-transform: rotate(45deg);*/
/*    transform: rotate(45deg);*/
/*    font-size: 0;*/
/*}*/

/*.cube-folding span {*/
/*    position: relative;*/
/*    width: 25px;*/
/*    height: 25px;*/
/*    -moz-transform: scale(1.1);*/
/*    -ms-transform: scale(1.1);*/
/*    -webkit-transform: scale(1.1);*/
/*    transform: scale(1.1);*/
/*    display: inline-block;*/
/*}*/

/*.cube-folding span::before {*/
/*    content: '';*/
/*    background-color: white;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*    display: block;*/
/*    width: 25px;*/
/*    height: 25px;*/
/*    -moz-transform-origin: 100% 100%;*/
/*    -ms-transform-origin: 100% 100%;*/
/*    -webkit-transform-origin: 100% 100%;*/
/*    transform-origin: 100% 100%;*/
/*    -moz-animation: folding 2.5s infinite linear both;*/
/*    -webkit-animation: folding 2.5s infinite linear both;*/
/*    animation: folding 2.5s infinite linear both;*/
/*}*/

/*.cube-folding .leaf2 {*/
/*    -moz-transform: rotateZ(90deg) scale(1.1);*/
/*    -ms-transform: rotateZ(90deg) scale(1.1);*/
/*    -webkit-transform: rotateZ(90deg) scale(1.1);*/
/*    transform: rotateZ(90deg) scale(1.1);*/
/*}*/

/*.cube-folding .leaf2::before {*/
/*    -moz-animation-delay: 0.3s;*/
/*    -webkit-animation-delay: 0.3s;*/
/*    animation-delay: 0.3s;*/
/*    background-color: #f2f2f2;*/
/*}*/

/*.cube-folding .leaf3 {*/
/*    -moz-transform: rotateZ(270deg) scale(1.1);*/
/*    -ms-transform: rotateZ(270deg) scale(1.1);*/
/*    -webkit-transform: rotateZ(270deg) scale(1.1);*/
/*    transform: rotateZ(270deg) scale(1.1);*/
/*}*/

/*.cube-folding .leaf3::before {*/
/*    -moz-animation-delay: 0.9s;*/
/*    -webkit-animation-delay: 0.9s;*/
/*    animation-delay: 0.9s;*/
/*    background-color: #f2f2f2;*/
/*}*/

/*.cube-folding .leaf4 {*/
/*    -moz-transform: rotateZ(180deg) scale(1.1);*/
/*    -ms-transform: rotateZ(180deg) scale(1.1);*/
/*    -webkit-transform: rotateZ(180deg) scale(1.1);*/
/*    transform: rotateZ(180deg) scale(1.1);*/
/*}*/

/*.cube-folding .leaf4::before {*/
/*    -moz-animation-delay: 0.6s;*/
/*    -webkit-animation-delay: 0.6s;*/
/*    animation-delay: 0.6s;*/
/*    background-color: #e6e6e6;*/
/*}*/

/*@-moz-keyframes folding {*/
/*    0%, 10% {*/
/*        -moz-transform: perspective(140px) rotateX(-180deg);*/
/*        transform: perspective(140px) rotateX(-180deg);*/
/*        opacity: 0;*/
/*    }*/
/*    25%, 75% {*/
/*        -moz-transform: perspective(140px) rotateX(0deg);*/
/*        transform: perspective(140px) rotateX(0deg);*/
/*        opacity: 1;*/
/*    }*/
/*    90%, 100% {*/
/*        -moz-transform: perspective(140px) rotateY(180deg);*/
/*        transform: perspective(140px) rotateY(180deg);*/
/*        opacity: 0;*/
/*    }*/
/*}*/

/*@-webkit-keyframes folding {*/
/*    0%, 10% {*/
/*        -webkit-transform: perspective(140px) rotateX(-180deg);*/
/*        transform: perspective(140px) rotateX(-180deg);*/
/*        opacity: 0;*/
/*    }*/
/*    25%, 75% {*/
/*        -webkit-transform: perspective(140px) rotateX(0deg);*/
/*        transform: perspective(140px) rotateX(0deg);*/
/*        opacity: 1;*/
/*    }*/
/*    90%, 100% {*/
/*        -webkit-transform: perspective(140px) rotateY(180deg);*/
/*        transform: perspective(140px) rotateY(180deg);*/
/*        opacity: 0;*/
/*    }*/
/*}*/

/*@keyframes folding {*/
/*    0%, 10% {*/
/*        -moz-transform: perspective(140px) rotateX(-180deg);*/
/*        -ms-transform: perspective(140px) rotateX(-180deg);*/
/*        -webkit-transform: perspective(140px) rotateX(-180deg);*/
/*        transform: perspective(140px) rotateX(-180deg);*/
/*        opacity: 0;*/
/*    }*/
/*    25%, 75% {*/
/*        -moz-transform: perspective(140px) rotateX(0deg);*/
/*        -ms-transform: perspective(140px) rotateX(0deg);*/
/*        -webkit-transform: perspective(140px) rotateX(0deg);*/
/*        transform: perspective(140px) rotateX(0deg);*/
/*        opacity: 1;*/
/*    }*/
/*    90%, 100% {*/
/*        -moz-transform: perspective(140px) rotateY(180deg);*/
/*        -ms-transform: perspective(140px) rotateY(180deg);*/
/*        -webkit-transform: perspective(140px) rotateY(180deg);*/
/*        transform: perspective(140px) rotateY(180deg);*/
/*        opacity: 0;*/
/*    }*/
/*}*/

/*.cube-wrapper {*/
/*    position: fixed;*/
/*    left: 50%;*/
/*    top: 50%;*/
/*    margin-top: -50px;*/
/*    margin-left: -50px;*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    text-align: center;*/
/*}*/

/*.cube-wrapper:after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: -20px;*/
/*    margin: auto;*/
/*    width: 90px;*/
/*    height: 6px;*/
/*    background-color: rgba(0, 0, 0, 0.1);*/
/*    -webkit-filter: blur(2px);*/
/*    filter: blur(2px);*/
/*    -moz-border-radius: 100%;*/
/*    -webkit-border-radius: 100%;*/
/*    border-radius: 100%;*/
/*    z-index: 1;*/
/*    -moz-animation: shadow 0.5s ease infinite alternate;*/
/*    -webkit-animation: shadow 0.5s ease infinite alternate;*/
/*    animation: shadow 0.5s ease infinite alternate;*/
/*}*/

/*.cube-wrapper .loading {*/
/*    font-size: 13px;*/
/*    letter-spacing: 0.1em;*/
/*    display: block;*/
/*    color: white;*/
/*    position: relative;*/
/*    top: 25px;*/
/*    z-index: 2;*/
/*    -moz-animation: text 0.5s ease infinite alternate;*/
/*    -webkit-animation: text 0.5s ease infinite alternate;*/
/*    animation: text 0.5s ease infinite alternate;*/
/*}*/

/*@-moz-keyframes text {*/
/*    100% {*/
/*        top: 35px;*/
/*    }*/
/*}*/

/*@-webkit-keyframes text {*/
/*    100% {*/
/*        top: 35px;*/
/*    }*/
/*}*/

/*@keyframes text {*/
/*    100% {*/
/*        top: 35px;*/
/*    }*/
/*}*/

/*@-moz-keyframes shadow {*/
/*    100% {*/
/*        bottom: -18px;*/
/*        width: 100px;*/
/*    }*/
/*}*/

/*@-webkit-keyframes shadow {*/
/*    100% {*/
/*        bottom: -18px;*/
/*        width: 100px;*/
/*    }*/
/*}*/

/*@keyframes shadow {*/
/*    100% {*/
/*        bottom: -18px;*/
/*        width: 100px;*/
/*    }*/
/*}*/

/*html, body {*/
/*    min-height: 100%;*/
/*}*/

/*.container-cube-wrapper {*/
/*    background: #00c6ff;*/
/*    background: -webkit-linear-gradient(to left, #00c6ff, #0072ff);*/
/*    background: linear-gradient(to left, #00c6ff, #0072ff);*/
/*    width: 100%;*/
/*    position: fixed;*/
/*    z-index: 100;*/
/*    height: 100vh;*/
/*}*/

.container-cube-wrapper {
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    z-index: 1000000;
    height: 100vh;
    top: 0;
}

/*.made-with-love {*/
/*    position: fixed;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    bottom: 10px;*/
/*    text-align: center;*/
/*    font-size: 10px;*/
/*    z-index: 9999;*/
/*    color: #fff;*/
/*}*/

/*.made-with-love i {*/
/*    font-style: normal;*/
/*    color: #F50057;*/
/*    font-size: 14px;*/
/*    position: relative;*/
/*    top: 2px;*/
/*}*/

/*.made-with-love a {*/
/*    color: #fff;*/
/*    text-decoration: none;*/
/*}*/

/*.made-with-love a:hover {*/
/*    text-decoration: underline;*/
/*}*/



.container-cube-wrapper .circle {
    width: 70px;
    height: 70px;
    border: 8px inset rgb(133,224,242);
    position: absolute;
    top: calc(50% - 35px);
    left: calc(50% - 35px);
    border-radius: 100%;
    -moz-animation: rotate 3s infinite linear;
    -webkit-animation: rotate 3s infinite linear;
    animation: rotate 3s infinite linear;
    box-shadow: 0 0 5px #00b1e133
}

.container-cube-wrapper .circle-small {
    width: 40px;
    height: 40px;
    border: 8px outset rgb(133,224,242);
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    border-radius: 100%;
    -moz-animation: rotate-rev 2s infinite linear;
    -webkit-animation: rotate-rev 2s infinite linear;
    animation: rotate-rev 2s infinite linear;
    box-shadow: 0 0 5px #00b1e133
}

.container-cube-wrapper .circle-big {
    width: 90px;
    height: 90px;
    border: 3px dotted rgb(133,224,242);
    position: absolute;
    top: calc(50% - 45px);
    left: calc(50% - 45px);
    border-radius: 100%;
    -moz-animation: rotate-rev 5s infinite linear;
    -webkit-animation: rotate-rev 5s infinite linear;
    animation: rotate-rev 5s infinite linear;
}


@-moz-keyframes rotate{
    0% {-moz-transform: rotate(0deg);}
    100% {-moz-transform: rotate(360deg);}
}

@-webkit-keyframes rotate{
    0% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}

@keyframes rotate{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

/*==============ROTATE-REV=================*/

@-moz-keyframes rotate-rev{
    0% {-moz-transform: rotate(0deg);}
    100% {-moz-transform: rotate(-360deg);}
}

@-webkit-keyframes rotate-rev{
    0% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(-360deg);}
}

@keyframes rotate-rev{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
}