.journey .custom_title span {
    border-bottom: 2px solid #00b1e1;
}

.journey {
    background-color: #f4f4f4;
}


.journey .wrapper {
    margin: 3.125em auto;
    padding: 1em 3em 1em;
    max-width: 1400px;
}

.journey .timeline {
    line-height: 1.5em;
    font-size: 14px;
    transition: all .4s ease;
    position: relative;
    counter-reset: section;
}

.journey .timeline:before {
    content: "";
    width: 2px;
    height: 90%;
    background: #cccccc;
    position: absolute;
    top: 0;
    left: -3.313em;
    border-radius: 40px 40px;
}

.journey .timeline--entry {
    position: relative;
    background-color: #ffffff;
}

.journey .timeline--entry:before {
    content: '';
    color: #ffffff;
    width: 3em;
    height: 3em;
    background-color: #87ceeb;
    border-radius: 50%;
    position: absolute;
    left: -4.5em;
}

.journey .timeline--entry:first-child:before {
    background: #085d3a url("./../../../../../../assests/images/aboutus/item1.png") no-repeat center;
}

.journey .timeline--entry:nth-child(2):before {
    background: #f1ae57 url("./../../../../../../assests/images/aboutus/item2.png") no-repeat center;

}

.journey .timeline--entry:nth-child(3):before {
    background: #000874 url("./../../../../../../assests/images/aboutus/item3.png") no-repeat center;

}

.journey .timeline--entry:nth-child(4):before {
    background: #da5051 url("./../../../../../../assests/images/aboutus/item4.png") no-repeat center;

}


.journey .timeline--entry .timeline--entry__title {
    font-size: 18px;
    font-weight: 500;
}

.journey .timeline--entry:first-child .timeline--entry__title {
    color: #085d3a;
}

.journey .timeline--entry:nth-child(2) .timeline--entry__title {
    color: #f1ae57;
}

.journey .timeline--entry:nth-child(3) .timeline--entry__title {
    color: #000874;
}

.journey .timeline--entry:nth-child(4) .timeline--entry__title {
    color: #da5051;
}

.journey .timeline--entry .timeline--entry__title:before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border-bottom: 19px solid transparent;
    left: -20px;
    top: 0;
    border-right: 17px solid #ffffff;
}

.journey .timeline--entry .timeline--entry__detail {
    padding: 1em;
    margin: 0;
    color: #777777;
    text-align: justify;
}

@media (max-width: 768px) {

    .journey .wrapper {
        padding: 1em 0 1em 4em;
    }

    .journey .timeline--entry:before {
        left: -4.7em;
    }
}

@supports (display: grid) {
    @media (min-width: 768px) {

        .journey .wrapper {
            padding: 1em 0 1em 4em;
        }

        .journey .timeline {
            display: grid;
            grid-gap: 6em;
            grid-template-areas: ".  entry1" "entry2  ." ". entry3" "entry4 ." ". entry5";
        }

        .journey .timeline:before {
            left: 50%;
        }

        .journey .timeline--entry:nth-child(1) {
            grid-area: entry1;
        }

        .journey .timeline--entry:nth-child(2) {
            grid-area: entry2;
        }

        .journey .timeline--entry:nth-child(3) {
            grid-area: entry3;
        }

        .journey .timeline--entry:nth-child(4) {
            grid-area: entry4;
        }

        .journey .timeline--entry:nth-child(5) {
            grid-area: entry5;
        }

        .journey .timeline--entry:nth-of-type(odd):before {
            left: -4.5em;
        }

        .journey .timeline--entry:nth-of-type(even):not(:nth-of-type(odd)) {
            text-align: right;
        }

        .journey .timeline--entry:nth-of-type(even):not(:nth-of-type(odd)) .timeline--entry__title:before {
            left: 100%;
            border-left: 17px solid #ffffff;
            border-right: 0;
        }

        .journey .timeline--entry:nth-of-type(even):before {
            left: 104.5%;
        }
    }
}
