
.portfolio-slider .custom_title span {
    border-bottom: 2px solid #00b1e1;
}

.portfolio-slider {
    background-color: #eeeeee;
}

.portfolio-slider .fa-caret-left, .portfolio-slider .fa-caret-right {
    top: -53px;
    font-size: 36px;
    color: #dadada;
    cursor: pointer;
}

.portfolio-slider .fa-caret-left {
    right: 34px;
}

.portfolio-slider .fa-caret-right {
    right: 0;
}

.portfolio-slider .sliders-title {
   font-size: 27px;
}


.portfolio-slider .custom_content {
    display: -webkit-box;
    height: 50px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.7;
}

.portfolio-slider .btn-readMore {
    border-radius: 25px;
    border: none;
    font-size: 12px;
    padding: .7rem 2.3rem;
}


@media screen and (max-width: 767px) {
    .portfolio-slider .custom_content {
        height: 34px;
    }
}


