/*Custom style SideBar*/

#sidebar-wrapper .menu_custom {
    width: 240px;
    height: 100%;
    overflow: auto;
}

#sidebar-wrapper .ant-menu .anticon {
    vertical-align: 0em !important;
}

.ant-menu {
    background: #ffffffad!important;
}