.ownTeam  {
    padding-top: 93px;
    margin-top: -93px;
}

.ownTeam .container {
    padding: 3rem 0;
}

.ownTeam .ownTeam_content {
    width: 60%;
    color: #777777;
}

.ownTeam_item img {
    width: 90px;
    height: 90px;
}

.ownTeam_item .ownTeam_item_title {
    font-size: 26px;
}

.ownTeam_item .ownTeam_item_content {
    font-size: 13px;
    color: #777777;
    text-align: justify;
}

.ownTeam .bg_ownTeam {
    min-height: 500px;
}

.ownTeam .bg_ownTeam:after {
    content:'';
    background-image: url("./../../../../../../assests/images/whysna/img2.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    /*transform: scaleX(-1);*/
}

@media only screen and (max-width: 768px) {
    .ownTeam .ownTeam_content {
        width: 80%;
    }
}
