
.our-portfolio {
    margin-top: 93px!important;
}

.our-portfolio .custom_title span {
    border-bottom: 2px solid #00b1e1;
}

.bigImg-portfolio {
    min-height: 280px;
    height: 75vh;
    max-height: 700px;
    object-fit: cover;
}

.description-portfolio {
    position: absolute;
    top: -145px;
    right: 25px;
    width: 350px;
    box-shadow: 0 0 21px #00b1e17a;
}

.description-portfolio tr {
    vertical-align: top;
}

.description-portfolio td {
    padding: 14px 0;
}

.description-portfolio td:first-child {
    width: 45%;
}


.content-portfolio {
    /*min-height: 850px;*/
}


.container-portfolio_img {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 680px;
}

.container-images {
    width: 370px;
    margin-top: 400px;
}


.container-images img{
    object-fit: cover;
}

.parse_html h3{
    color: #5c5c5c;
    font-size: 21px;
}

.parse_html p{
    margin-bottom: 85px;
    color: #777777;
}


@media only screen and (max-width: 767px) {
    .bigImg-portfolio {
        height: 25vh;
    }

    .description-portfolio, .container-images {
        position: unset;
        width: 100%;
        margin: auto;
    }


}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .bigImg-portfolio {
        height: 40vh;
    }

    .description-portfolio {
        right: 15px;
        width: 270px;
    }

    .container-images {
        right: 15px;
        width: 290px;
    }

    .content-portfolio {
         /*min-height: 700px;*/
    }

}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    /*.bigImg-portfolio {*/
    /*    height: 25vh;*/
    /*}*/

    /*.description-portfolio, .container-images {*/
    /*    position: unset;*/
    /*    width: 100%;*/
    /*    margin: auto;*/
    /*}*/

}

@media only screen and (min-width: 1201px) {
    .description-portfolio {
        width: 370px;
    }

    .container-images {
        width: 450px;
    }
}
