.contactUs-home {
    background-color: #00B1E1;
}
.contactUs-home .contactUs-home-title {
    font-size: 31px;
}

.contactUs-home .contactUs-home-content, .contactUs-home .btn_contactUs {
    font-size: 14px;
}

.contactUs-home .btn_contactUs {
    background-color: #08bef0;
    border-radius: 16px;
    padding: 0.6rem 2.5rem;
}

.contactUs-home .w-80, .contactUs-home .w-20 {
    padding: 3.5rem 0;
}

@media only screen and (max-width: 768px) {
    .contactUs-home .w-80, .contactUs-home .w-20 {
        text-align: center;
        padding: 1rem 0;
    }

    .contactUs-home .w-80 {
        width: 100%;
    }

    .contactUs-home .w-20 {
        width: 100%;
    }

    .contactUs-home .contactUs-home-title {
        font-size: 25px;
    }

    .contactUs-home .contactUs-home-content, .contactUs-home .btn_contactUs {
        font-size: 13px;
    }

    .contactUs-home .btn_contactUs {
        padding: 0.5rem 1.5rem;
    }
}


