.mixitup-control-active {
    background: #5691e9;
}

.mixitup-control-active[data-filter]:after {
    background: transparent;
}

/* Container
---------------------------------------------------------------------- */

#content4 .container {
    padding: 1rem;
    text-align: justify;
    font-size: 0.1px;
    height: 500px;
    overflow: auto;
}

#content4 .container:after {
    content: "";
    display: inline-block;
    width: 100%;
}

#content4 .container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

#content4 .container::-webkit-scrollbar {
    width: 4px;
    background-color: rgb(255, 255, 255);
}

#content4 .container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left bottom, left top,
    color-stop(0.1, rgb(199, 199, 199)),
    color-stop(0.3, rgb(228, 228, 228)),
    color-stop(0.5, rgb(203, 202, 202)),
    color-stop(0.7, rgb(225, 225, 225)),
    color-stop(0.9, rgb(203, 203, 203)));
}

/* Target Elements
---------------------------------------------------------------------- */

.mix, .gap {
    display: inline-block;
    vertical-align: top;
}

.mix {
    border: 1px solid #717171;
    border-radius: 2px;
    box-shadow: 0px 1px 7px -2px rgb(0, 0, 0);
}

/* Grid Breakpoints
---------------------------------------------------------------------- */

/* 2 Columns */

.mix,
.gap {
    width: calc(100% / 2 - (((2 - 1) * 1rem) / 2));
}

/* 3 Columns */

@media screen and (min-width: 768px) {
    .mix,
    .gap {
        width: calc(100% / 3 - (((3 - 1) * 1rem) / 3));
    }
}

/*
/* 4 Columns 

@media screen and (min-width: 961px) {
    .mix,
    .gap {
        width: calc(100%/4 - (((4 - 1) * 1rem) / 4));
    }
}

/* 5 Columns 

@media screen and (min-width: 1281px) {
    .mix,
    .gap {
        width: calc(100%/5 - (((5 - 1) * 1rem) / 5));
    }
} */

@media screen and (min-width: 1200px) {
    .container {
        max-width: 980px;
    }
}
