
.discuss {
    min-height: 1000px;
}


.discuss .container-discuss {
    top: 0;
    left: 50%;
    width: 100%;
    max-width: 1250px;
    padding: 4rem 5rem;
    position: absolute;
    background-color: #ffffff;
    transform: translate(-50%, -185px);
    box-shadow: 0 0 15px rgba(0, 0, 0, .25) !important;
}

.discuss .container-discuss .container-discuss_title {
    color: #403e3d;
    font-size: 28px;
}

.discuss .container-discuss .container-discuss_noteTitle {
    color: #777777;
    font-size: 18px;
}

.discuss .container-discuss .container-discuss_subTitle {
    color: #403e3d;
    font-size: 14px;
}

.discuss .ant-select-selection, .discuss .ant-input, .discuss textarea.ant-input {
    border-radius: 3px !important;
    color: #777777 !important;
    font-weight: bold;
}

.discuss .ant-input::placeholder, .discuss .ant-checkbox-wrapper {
    color: #777777 !important;
    /*font-weight: bold;*/
}

.discuss .container-discuss_btn {
    background-color: #00b1e1;
    border: none;
    border-radius: 0;
    outline: 3px double #00b1e1;
}


@media screen and (max-width: 767px) {
    .discuss .container-discuss {
        top: 0;
        left: 0;
        position: relative;
        padding: 4rem 1rem;
        transform: translate(0, 0);
    }
}

