.how_work .container-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 6px solid #e6e6e6;
    background-color: #fff;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    cursor: pointer;
}

.how_work .container-circle:hover {
    background-color: #00b1e1;
}

.how_work .container-circle:hover p {
    color: #fff;
}

.how_work .container-circle .img_circle {
    width: 60px;
    height: 55px;
    margin: 1.5rem auto 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.how_work .col-12:first-child .container-circle .img_circle {
    background-image: url("../../../../../../assests/images/home/howwork/circle1.png");

}

.how_work .col-12:first-child .container-circle:hover .img_circle {
    background-image: url("../../../../../../assests/images/home/howwork/circle1-1.png");
}

.how_work .col-12:nth-child(2) .container-circle .img_circle {
    background-image: url("../../../../../../assests/images/home/howwork/circle2.png");
}

.how_work .col-12:nth-child(2) .container-circle:hover .img_circle {
    background-image: url("../../../../../../assests/images/home/howwork/circle2-1.png");
}

.how_work .col-12:nth-child(3) .container-circle .img_circle {
    background-image: url("../../../../../../assests/images/home/howwork/circle3.png");
}

.how_work .col-12:nth-child(3) .container-circle:hover .img_circle {
    background-image: url("../../../../../../assests/images/home/howwork/circle3-1.png");
}

.how_work .col-12:nth-child(4) .container-circle .img_circle {
    background-image: url("../../../../../../assests/images/home/howwork/circle4.png");
}

.how_work .col-12:nth-child(4) .container-circle:hover .img_circle {
    background-image: url("../../../../../../assests/images/home/howwork/circle4-1.png");
}

.how_work .container-circle p {
    font-size: 19px;
    color: #777777;
}

.how_work .container-circle .arrow {
    left: calc(100%);
    top: 50%;
    transform: translate(0, -50%);
}

.how_work .content_how_work {
    font-size: 23px;
    color: #777777;
    width: 64%;
    margin: auto;
}

.how_work .content_how_work span {
    color: #e64b3c;
}

.how_work .btn_contactUs {
    font-size: 14px;
}

.how_work .btn_contactUs {
    background-color: #08bef0;
    border-radius: 16px;
    padding: 0.6rem 2.5rem;
}

@media only screen and (max-width: 767px) {
    .how_work .container-circle {
        margin: auto;
    }

    .how_work .container-circle .arrow {
        display: none;
    }

    .how_work .btn_contactUs {
        font-size: 13px;
    }

    .how_work .btn_contactUs {
        padding: 0.5rem 1.5rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 990px) {
    .how_work .container-circle {
        width: 250px;
        height: 250px;
    }

    .how_work .container-circle .img_circle {
        width: 80px;
        height: 75px;
        margin: 2.4rem auto 0;
    }

    .how_work .container-circle p {
        font-size: 25px;
    }

    .how_work .col-12:nth-child(2) .container-circle .arrow {
        display: none;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .how_work .container-circle {
        width: 210px;
        height: 210px;
    }

    .how_work .container-circle .img_circle {
        width: 65px;
        height: 60px;
        margin: 1.8rem auto 0;
    }

    .how_work .container-circle p {
        font-size: 22px;
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1500px) {
    .how_work .container-circle {
        width: 230px;
        height: 230px;
    }

    .how_work .container-circle .img_circle {
        width: 78px;
        height: 70px;
        margin: 2rem auto 0;
    }

    .how_work .container-circle p {
        font-size: 22px;
    }
}

@media only screen and (min-width: 1500px) {
    .how_work .container-circle {
        width: 280px;
        height: 280px;
        border-width: 8px;
    }

    .how_work .container-circle .img_circle {
        width: 90px;
        height: 85px;
        margin: 2.5rem auto 0;
    }

    .how_work .container-circle p {
        font-size: 26px;
    }
}




