.home_header {
    z-index: 10;
    top: 0;
    padding: 0;
    left: 0;
    background-color: #000000b3;
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.home_header.nav-up {
    top: -130px;
}


.home_header:not(.bg-white) .navbar img {
    height: 40px;
}

.home_header.bg-white .navbar img {
    height: 40px;
}

.home_header.bg-white {
    -webkit-box-shadow: 0 1px 16px -1px rgb(110, 110, 110);
    -moz-box-shadow: 0 1px 16px -1px rgb(110, 110, 110);
    box-shadow: 0 1px 16px -1px rgb(110, 110, 110);
}

/*BIGSCREEN*/
.home_header .button_collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    /*overflow: hidden;*/
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
}

.home_header .button_collapse.opening {
    -webkit-animation-name: open;
    animation-name: open;
}

.home_header .button_collapse .nav-item {
    padding: .5rem 1.5rem !important;
}

.home_header.bg-white .small_screen .button_collapse .nav-item.active {
    background-color: #00b1e1;
    border-radius: 30px;
    color: #ffffff !important;
}

.home_header:not(.bg-white) .button_collapse .nav-item.active {
    background-color: #00b1e1;
    border-radius: 3px;
    color: #ffffff !important;
}

.home_header .big_screen .button_collapse .nav-item .nav-link.text-dark:after {
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -23px;
    content: '';
    background: #00b1e1;
    opacity: 1;
    transition: all 0.43s;
}

.home_header .big_screen .button_collapse .nav-item.active .nav-link.text-dark:after,
.home_header .big_screen .button_collapse .nav-item .nav-link.text-dark:hover:after {
    width: 100%;
}

/*SMALLSCREEN*/
.home_header .navbar .custom_languages span:hover,
.home_header .navbar .custom_languages span.active {
    color: #00b1e1;
}

/*hamburger*/
.home_header .navbar .custom_hamburger {
    width: 35px;
    height: 25px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.home_header .navbar .custom_hamburger span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #ffffff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.home_header.bg-white .navbar .custom_hamburger span {
    background: #00b1e1;
}

.custom_hamburger span:nth-child(1) {
    top: 0;
}

.custom_hamburger span:nth-child(2) {
    top: 10px;
}

.custom_hamburger span:nth-child(3) {
    top: 20px;
}

.custom_hamburger.open span:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.custom_hamburger.open span:nth-child(2) {
    opacity: 0;
    left: -30px;
}

.custom_hamburger.open span:nth-child(3) {
    top: 10px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes open {
    0% {
        height: 0;
    }

    100% {
        height: 270px;
    }
}

@keyframes open {
    0% {
        height: 0;
    }

    100% {
        height: 270px;
    }
}

.button_collapse:not(.show) {
    -webkit-animation-name: close;
    animation-name: close;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes close {
    0% {
        height: 270px;
    }
    100% {
        height: 0;
    }
}

@keyframes close {
    0% {
        height: 270px;
    }
    100% {
        height: 0;
    }
}

@media only screen and (max-width: 767px) {
    .home_header .button_collapse .nav-link,
    .home_header .button_collapse .nav-link.active {
        text-align: center;
    }

    .home_header .big_screen {
        display: none;
    }

    .home_header .navbar .navbar-toggler {
        font-size: 0.6rem;
    }

    .home_header .navbar {
        padding: .5rem 0;
    }

    .home_header .navbar .custom_languages {
        justify-content: center;
    }

    .home_header.bg-white .navbar img {
        height: 35px;
    }

    .home_header:not(.bg-white) .navbar img {
        width: 130px;
    }

    .footer-bottom img {
        height: 40px;
        width: 180px;
    }

    .home_header .small_screen img {
        width: 23px;
    }

    /*hamburger*/
    .home_header .navbar .custom_hamburger {
        width: 24px;
        height: 18px;
    }

    .home_header .navbar .custom_hamburger span {
        height: 3px;
    }

    .custom_hamburger span:nth-child(3) {
        top: 12px;
    }

    .custom_hamburger span:nth-child(2),
    .custom_hamburger.open span:nth-child(1),
    .custom_hamburger.open span:nth-child(3) {
        top: 6px;
    }

    .home_header .small_screen .button_collapse {
        overflow: hidden;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .home_header .button_collapse .nav-link,
    .home_header .button_collapse .nav-link.active {
        text-align: center;
    }

    .home_header .big_screen {
        display: none;
    }

    .home_header .navbar {
        padding: .5rem 0;
    }

    .home_header .navbar .custom_languages {
        justify-content: center;
    }

    .home_header .small_screen .button_collapse {
        overflow: hidden;
    }
}

@media only screen and (min-width: 992px) {
    .home_header .navbar:not(.big_screen) {
        display: none;
    }

    .button_collapse {
        display: flex;
    }

    .custom_languages {
        border-left: 1px solid #00B1E1;
    }

    .home_header .button_collapse .nav-link {
        padding: 0 !important;
    }

}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {

    .home_header .big_screen {
        display: block;
        padding: 1.2rem 3rem;
    }

    .home_header .navbar .navbar-toggler {
        font-size: 0.6rem;
    }

}

@media only screen and (min-width: 1280px) and (max-width: 1500px) {
    .home_header .big_screen {
        padding: 1.2rem 3rem;
    }
}

@media only screen and (min-width: 1500px) and (max-width: 1700px) {
    .home_header .big_screen {
        padding: 1.5rem 3rem;
    }
}

@media only screen and (min-width: 1700px) {
    .home_header .big_screen {
        padding: 1.5rem 3rem;
    }
}

