.content_login {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("./../../../assests/images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.login-form {
    width: 470px;
    background-color: #4e89b87d;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-form .anticon {
    color: rgba(0, 0, 0, .25);
}

.login-form .login-form-forgot {
    float: right;
}

.draw-border {
    box-shadow: inset 0 0 0 4px #123145;
    color: #123145;
    transition: color 0.25s 0.0833333333s;
    position: relative;
}

.draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}

.draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
}

.draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
}

.draw-border:hover {
    color: #ffe593;
}

.draw-border:hover::before, .draw-border:hover::after {
    border-color: #ffe593;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}

.draw-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
}

.btn1 {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem 'Roboto Slab', sans-serif;
    padding: 0.6em 1.2em;
    letter-spacing: 0.05rem;
}

.btn1:focus {
    outline: 2px dotted #55d7dc;
}
