@font-face {
    font-family: 'RobotoLight';
    src: url('./../../../../../../assests/fonts/Roboto-Light.ttf') format('truetype');
}


.process {
    min-height: 1050px;
    max-width: 100vw;
    position: relative;
    overflow: hidden;
    margin-top: 140px;
}

.process .bg-process-white {
    position: absolute;
    top: 0;
    left: 0;
    width: 50vw;
    height: 1050px;
    border-top: 1050px solid white;
    border-right: 33vw solid transparent;
}

.process .bg-process-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 1050px;
    background: url("./../../../../../../assests/images/process/bg-process.png") no-repeat center;
    background-size: cover;
}


.process .custom_title span {
    border-bottom: 2px solid #00b1e1;
}


.process .process-item {
    width: 65%;
    cursor: pointer;
    padding: 1.1rem 0;
}


.process .process-item .process-item-left {
    border: 1px solid #00b1e159;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    padding: 1.5px;
}


.process .process-item .process-item-left .box_process {
    border: 2px solid #00b1e1;
    position: relative;
}

.process .process-item .process-item-left .box_process:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -73%);
    font-family: 'RobotoLight';
    font-size: 57px;
    color: #989898
}

.process .process-item:hover .process-item-left .box_process:after {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-name: bounceIn1;
    animation-name: bounceIn1;
    animation-delay: 0.15s;
}

.process .process-item .process-item-left .box_process_1:after {
    content: '1';
}

.process .process-item .process-item-left .box_process_2:after {
    content: '2';
}

.process .process-item .process-item-left .box_process_3:after {
    content: '3';
}

.process .process-item .process-item-left .box_process_4:after {
    content: '4';
}

.process .process-item .process-item-left .box_process_5:after {
    content: '5';
}

.process .process-item .process-item-left .box_process_6:after {
    content: '6';
}

.process .process-item .process-item-left .box_process_7:after {
    content: '7';
}

.process .process-item .process-item-right {
    min-height: 90px;
    color: #000000;
    border-radius: 5px;
    position: relative;
    width: calc(100% - 70px);
    background-color: #00b1e1;
    box-shadow: 0 0 16px -5px rgba(110, 110, 110, 0.75);
}

.process .process-item .process-item-right:before {
    width: 3px;
    left: -1px;
    z-index: 1;
    content: '';
    height: 100%;
    border-radius: 5px;
    position: absolute;
    background: #00b1e1;
    border: 3px solid #00b1e1;
}

.process .process-item .process-item-right:after {
    content: '';
    position: absolute;
    border-radius: 5px;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.process .process-item:hover .process-item-right:after {
    width: 0;
    background-color: #00B1E1;
    color: #ffffff;
}

.process .process-item:hover .process-item-right:before {
    background: #ffffff;
    border: 3px solid #ffffff;
}


.process .process-item .process-item-right .process_img {
    z-index: 1;
    height: 40px;
    margin-left: 13px;
    margin-right: 2px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.process .process-item .process-item-right .process_img_1 {
    width: 59px;
    background-image: url("./../../../../../../assests/images/process/process1_0.png");
}

.process .process-item:hover .process-item-right .process_img_1 {
    background-image: url("./../../../../../../assests/images/process/process1_1.png");
}

.process .process-item .process-item-right .process_img_2 {
    width: 40px;
    background-image: url("./../../../../../../assests/images/process/process2_0.png");
}

.process .process-item:hover .process-item-right .process_img_2 {
    background-image: url("./../../../../../../assests/images/process/process2_1.png");
}

.process .process-item .process-item-right .process_img_3 {
    width: 44px;
    background-image: url("./../../../../../../assests/images/process/process3_0.png");
}

.process .process-item:hover .process-item-right .process_img_3 {
    background-image: url("./../../../../../../assests/images/process/process3_1.png");
}

.process .process-item .process-item-right .process_img_4 {
    width: 40px;
    background-image: url("./../../../../../../assests/images/process/process4_0.png");
}

.process .process-item:hover .process-item-right .process_img_4 {
    background-image: url("./../../../../../../assests/images/process/process4_1.png");
}

.process .process-item .process-item-right .process_img_5 {
    width: 40px;
    background-image: url("./../../../../../../assests/images/process/process5_0.png");
}

.process .process-item:hover .process-item-right .process_img_5 {
    background-image: url("./../../../../../../assests/images/process/process5_1.png");
}

.process .process-item .process-item-right .process_img_6 {
    width: 64px;
    background-image: url("./../../../../../../assests/images/process/process6_0.png");
}

.process .process-item:hover .process-item-right .process_img_6 {
    background-image: url("./../../../../../../assests/images/process/process6_1.png");
}

.process .process-item .process-item-right .process_img_7 {
    width: 82px;
    background-image: url("./../../../../../../assests/images/process/process7_0.png");
}

.process .process-item:hover .process-item-right .process_img_7 {
    background-image: url("./../../../../../../assests/images/process/process7_1.png");
}


.process .process-item .process-item-right .process-content {
    color: #000000;
    z-index: 1;
    padding: 7px 5px 7px 13px;
}

.process .process-item:hover .process-item-right .process-content {
    color: #ffffff;
}

.process .process-item .process-item-right .process-content-header {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
}

.process .process-item .process-item-right .process-content-body {
    font-size: 13px;
}


@-webkit-keyframes bounceIn1 {

    0% {
        opacity: 0;
        -webkit-transform: translate(-50%, -69%);
        transform: translate(-50%, -69%);
    }

    20% {
        -webkit-transform: translate(-50%, -69%);
        transform: translate(-50%, -69%);
    }

    40% {
        -webkit-transform: translate(-50%, -69%);
        transform: translate(-50%, -69%);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate(-50%, -69%);
        transform: translate(-50%, -69%);
    }

    80% {
        -webkit-transform: translate(-50%, -89%);
        transform: translate(-50%, -89%);
    }

    to {
        opacity: 1;
        -webkit-transform: translate(-50%, -69%);
        transform: translate(-50%, -69%);
    }
}

@keyframes bounceIn1 {

    0% {
        opacity: 0;
        -webkit-transform: translate(-50%, -79%);
        transform: translate(-50%, -79%);
    }

    20% {
        -webkit-transform: translate(-50%, -69%);
        transform: translate(-50%, -69%);
    }

    40% {
        -webkit-transform: translate(-50%, -79%);
        transform: translate(-50%, -79%);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate(-50%, -69%);
        transform: translate(-50%, -69%);
    }

    80% {
        -webkit-transform: translate(-50%, -79%);
        transform: translate(-50%, -79%);
    }

    to {
        opacity: 1;
        -webkit-transform: translate(-50%, -69%);
        transform: translate(-50%, -69%);
    }
}




@media only screen and (max-width: 600px) {
    .process {
        min-height: 1300px;
    }

    .process .bg-process-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 1300px;
        background: url(/static/media/bg-process.7b01d997.png) no-repeat 50%;
        background-size: cover;
    }
}


@media only screen and (max-width: 767px) {
    .process .process-item {
        width: 100%;
        padding: .8rem 0;
    }

    .process .process-item .process-item-left {
        width: 40px;
        height: 40px;
        margin-right: 12px;
    }

    .process .process-item .process-item-left .box_process:after {
        font-size: 39px;
    }

    .process .process-item .process-item-right .process_img {
        display: none;
    }

}


@media only screen and (min-width: 768px) and (max-width: 990px) {
    .process .process-item {
        width: 80%;
        padding: .8rem 0;
    }
}
